<div class="user-details">
  <h1> Notable Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <br>
    <br>
    <br>
    <img alt="mountains" src="{{ "/assets/img/milo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> "MiLO" - Mind-Controlled Locomotive </h3>
    <ul>
      <li> EEG, OpenBCI, Twilio, Python, Javascript, Android; see our paper for more details</li>
    </ul>
    <p> MiLO is a fully functioning brain-controlled wheelchair primarily aimed for individuals with paralysis from the neck-down using realtime EEG data from an OpenBCI to control movement. It includes safety measures such as wall tracking & auto-stopping with obstacle sensors. The project also includes a location tracking & stress detection app for caretakers to monitor wheelchair using patients.
      Our project was featured on multiple news channels, including CBC & CTV, and we published a paper about it in the 2019 IEEE International Conference on Systems, Man & Cybernetics!</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=_46AoSnHCRo">Check out our video</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/upcycle.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> UpcycleAI </h3>
    <ul>
      <li> Python, Gazebo, Microsoft Azure</li>
    </ul>
    <p> UpcycleAI is our national-winning robotic arm that uses AI & computer vision to re-structure how companies recycle fabrics in the textile industry, which has one of the largest contributors to the global carbon footprint and heavily impacts air and water pollution.
      </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=thbYeiSGUug">Check out our video</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mysamy.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> "mySamy" </h3>
    <ul>
      <li> Python, Watson API, Javascript, HTML/CSS </li>
    </ul>
    <p> MySamy is our hackathon-winning interactive help app for children that can detect stress & mental illness, & shares relevant resources for its users.
      Our project won first place in the IVEY business model challenge, and 2nd place in the IBM challenge. </p>
  </div>
</div>