<div class="user-details">
  <h1> Research</h1>
</div>
  <div class="user">
    <div class="tech">
      <img src="/assets/img/connectome.png" width="125" height="125"/>
      <p>Linking Differences in Escape Behavior to Circuitry in Drosophila with Micro-Connectomics</p>
    </div>
    <div class="tech">
      <img src="/assets/img/leech.png" width="180" height="140"/>
      <p>The Role of Voltage-Gated Potassium Channels in Hirudo medicinalis Segmental Ganglion Retzius Neurons</p>
    </div>
    <div class="tech">
      <img src="/assets/img/maggot.png" width="150" height="125"/>
      <p>The Effects of Optogenetically Activated Nociception on Odortaxis During Starvation and Action Selection in Drosophila Larvae</p>
      <a class="research-link" href="https://www.youtube.com/watch?v=thbYeiSGUug">Read Report</a>
    </div>
</div>
